{% extends 'base.html.twig' %}

{% block title %}Lecznica{% endblock %}

{% block body %}
    <h1>Lecznica</h1>

    <h4 class="col-md-12">
        Witam w lecznicy zwierząt!
    </h4>
{% endblock %}
