<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Zwierzęta 1.0 &#128190; Copyright &copy; 2024 &rarr; Martyna Jabłonka</span>
        </div>
    </div>
</footer>